<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://www.uptimezen.com" class="btn">Start Monitoring Your Website -Free</a>
  <!--a href="#" class="btn">Download .zip</a-->
  <!--a href="#" class="btn">Download .tar.gz</a-->
</section>